
@font-face {
    font-family: 'Norse';
    src: url('NorseBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


html{
    box-sizing: border-box;
}

.maincontainer{
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 100vh
    }
body{
    margin: 0;
} 

.left-image{
    position: relative;
}
.fondo{

min-height: 100%;
object-fit: cover;
margin: 0 auto;

width: 100%;

}


.right-form{
    width: 100%;
}

.logosection {
    position: absolute;
   
    top: 150px;
     display: flex; 
    align-items: center;
    justify-content: center;
    background-color: black;
   background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
}
.logo{
    display: flex;
    flex-direction: flex-start;;
    height: 80px;
    width: auto;
 
     
}

h1{
    color: white;
    display: flex;
    justify-content: flex-end;
     font-family: 'Norse', sans-serif;
    font-size: 80px;
    color: white;
    margin: 0;
    line-height: 1; 
}
h2{
     font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    margin: 10px 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.5;
    color: #1a1a1a;
    margin-bottom: 20px;
}
h3{
      font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #1a1a1a;
    margin-bottom: 20px;
}
.right-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:azure
}

.main-form{
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    background-color: white; 
    padding: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    height: auto; 
}

.form-row{
    display: flex;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin: 0 10px
}

input{
    border-color: #E5E7EB;

}
label {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    margin: 5px;
}
a{
    text-decoration: none;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: ;
    color: #333;
}
.button-section{
     display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    
}
button {
    font-family: 'Norse', sans-serif; 
    text-transform: uppercase; 
    font-size: 1.5rem; 
    background-color: #596D48;
    margin-top: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
   
}

button:hover {
    background-color: #4a5a3a; 
    transform: translateY(-3px) scale(1.02); 
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}